{erl_opts, [debug_info]}.

{deps, [
    {eper,    ".*", {git, "https://github.com/massemanet/eper",      {tag, "0.97.6"}}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.4.0"}}},
    {cowboy,  ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-rc.2"}}},
    {jiffy,   ".*", {git, "https://github.com/davisp/jiffy",         {tag, "0.14.11"}}},
    {ecsv,    ".*", {git, "https://github.com/rcouch/ecsv",          {tag, "0.3"}}}
]}.