[
    {truly, [
        {http_port, 8080},
        {data_path, "/root/data/callerid-data.csv"}
    ]},

    {lager, [
        {colored, true},
        {handlers, [
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]}
    ]}
].